@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
.cec{
  position: relative;
  top: 40px;
}
.fontchange{
  font-weight: 100;
  font-size: small;
}
.search{
    display: flex;
  }
  .searchbox{
    padding: 0.2rem 1rem;
    height: 2rem;
    width: 100%;
    border: none;
    outline: none;
  }
  .submitsearch{
    width: 3rem;
    border-radius: 0 0.4rem 0.4rem 0;
    outline: none;
    border: none;
    background-color:  #0e7ec4;
    color: white;
  }
  .searchimg{
    height: 1.1rem;
    width: 1.1rem;
  }
  .flex{
    display: flex;
  }
  .flexcol{
    flex-direction: column;
  }
  .row{
    padding-bottom: 2rem;
  }
  .abtimg{
    height: 4rem;
    width: 4rem;
  }
  .imgcenter{
    position: relative;
    top: 140px;
  }
  .img{
    height: 20rem;
    width: 12rem;
  }

.placement{
  height: 4rem;
  width: 4rem;
}
.flexcol{
  flex-direction: column;
}
.margin{
  margin: 2rem 4rem;
}
/*Courses we offer*/
.cardcourse{
  height: 100vh;
  width: 100vw;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.r{
background-color:#87C4FF ;
}
.g{
background-color:#DAFFFB ;
}
.b{
background-color:#FFCF9D;
}
.p{
 background-color:#FFC7EA ; 
}
.imgcourse{
  position: relative;
  top: 20px;
  padding: 1rem;
}
.btnmore{
  width: 10rem;
}
/*Facilities*/
.snip1361 {
  font-family: 'Quattrocento', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
  border-radius: 1rem;
}
.snip1361 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1361 img {
  max-width: 100%;
  border-radius: 1rem;
  vertical-align: top;
}
.support{
  height: 15rem;
  width: 17rem;
}
.amentities{
  height: 15rem;
  width: 17rem;
}
.snip1361 figcaption {
  position: absolute;
  top: calc(77%);
  width: 100%;
  background-color: #ffffff;
  padding: 15px 25px 65px;
}
.snip1361 figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.snip1361 h3,
.snip1361 ul {
  margin: 0 0 10px;
}
.snip1361 h3 {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
}
.snip1361 ul {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}
.snip1361 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.snip1361:hover figcaption,
.snip1361.hover figcaption {
  top: 80px;
}

  /* Media Query for Mobile Devices */ 
  @media (max-width: 480px) { 
    .disflex{
      flex-direction: column;
    }
    .imgcenter{
      position: relative;
      top: 0;
    }
    .cec{
      font-size: x-small;
    }
    .logo{
      height: 50px;
      width: 50px;
    }
    .fontchange{
      font-size: xx-small;
    }
    .training{
      font-size: small;
      text-align: center;
      
    }
    .training img{
      width: 50%;
      height: 50%;
    }
    .r,.g, .b, .p{
      flex-direction: column;
    }
    .imgcourse{
      padding-top: 3rem;
    }

} 

  


/*TEST*/
.container-box{
  display:flex;
  height: auto;
}
.box-1{
 height: 500px;
 width: 100%;
}
.box-2{
  height: 500px;
  width:80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.imgsocial{
  height: 35px;
  width: 35px;
  margin: 0.5rem auto;
  
}
.imgsocial:hover{
  transform: rotate(-20deg);
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.last{
  width: 100%;
  background-color: whitesmoke;
}
